body {
  background-image: url(images/logan-weaver-q-f5_iHh1WI-unsplash.jpg);
}


.navbar {
  padding: 0px;
}

.nav-link {
  color: teal;
  font-size: x-large;
  margin-right: 125px;
}

h1 {
  color: teal;
}

hr {
  width: 150%;
  border: 2px solid lightgray;
}

.navbar-brand {
  background-color: teal;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  padding: 25px;
  margin-left: 125px;
}

.container {
  background-image: url(images/light_grey.png);
  padding: 50px;
  margin: 50px auto;
  align-content: center;
  box-shadow: 0 0 20px black; 
  -webkit-box-shadow: 0 0 20px black; 
  box-shadow: 0 0 20px black;
}

  p {
    font-family: Helvetica;
    font-size: 20px;
  }

.kitty {
    float: left;
    width: 250px;
    padding-right: 20px;
}

/* Portfolio Page */



/*CSS for Contact page*/
button {
  background-color: teal;
  border: 0px;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  font-size:11pt;
  display: inline-block;
  margin-left: 28px;
}

input {
  width: 93%; 
  padding: 5pt;
  margin-right: 5px;
  margin-left: 28px;
  margin-top: 5px;
  margin-bottom: 18px;
}

.message {
  width: 93%;
  padding: 44pt;
  margin-right: 5px;
  margin-left: 28px;
}

label {
  margin-left: 22pt;
  font-family: Arial, Helvetica, sans-serif;
  color: darkgray
}